
body
 {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}





.link-header {
    color: #2e2f42;
}



nav li {
    
    font-weight: 500;
    line-height: 1.5;

    letter-spacing: 0.32px;
}



address li {
    
    line-height: 1.5;
    
    letter-spacing: 0.32px;
}

span {
    color: #2e2f42;

}

.logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    
    color: #2E2F42;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5
}





.link-header:hover {
    color: #404BBF
}

.link-header:focus {
    color: #404bbf;
}

address {
    font-style: normal;
}

.address-mail {
    color: #434455;
}

.address-mail:hover {
    color: #404bbf;
}

.address-mail:focus {
    color: #404bbf;
}

.benefits {
    background-color: #2E2F42;
    
    text-align: center;
}

.title-main {

    color: #fff;
    font-size: 56px;
    font-weight: 700;
    
    letter-spacing: 1.12px;
    line-height: 1.07;
    background-color: #2E2F42;

}

.button-main {
    
    background-color: #4D5AE5;
    color: #fff;
    font-family: Roboto;
    font-weight: 500;
   
    letter-spacing: 0.64px;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;

}

button:hover {
    background-color: #404BBF;
}

button:focus {
    background-color: #404BBF;
}





.title-content {
    font-size: 20px;
    font-weight: 500;
    
    letter-spacing: 0.4px;
    color: #2e2f42;
}

.target-txt {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.job {

    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.32px;
    
    font-size: 16px;
}



.list {
    background-color: #F4F4FD;
}

.our-time {
    text-align: center;
    background-color: #F4F4FD;
    

}

.title-time {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    background-color: #F4F4FD;
    color: #2e2f42;

}


.title-content {
    
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em
}

.Our-time p {
    
    font-size: 16px;
    color: #434455;



   
    letter-spacing: 0.32px;
}

.list-time {
    background-color: #FFFFFF;
}

.title-portfolio {
    color: #2E2F42;
    text-align: center;
    line-height: 1.2;
    font-size: 36px;
    
    font-weight: 700;
    
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.title-portf {
    color: #2E2F42;


    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    
    letter-spacing: 0.4px;
}

.content-portf {
    color: #434455;

    font-size: 16px;

    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

footer {
    background-color: #2E2F42;
    

}

.logo-footer {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    
    color: #2E2F42;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    background-color: #2E2F42;
}

.studio {
    color: #f4f4fd;
    background-color: #2E2F42;
}

.content-footer {
    
    color: #F4F4FD;
    background-color: #2E2F42;
    line-height: 1.5;

    
    letter-spacing: 0.32px;

}